/* Define keyframes for zoom in and zoom out */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation styles */
.active {
  animation: zoomIn 1s ease-in-out; /* Adjust the animation duration and timing function as needed */
}

.inactive {
  animation: zoomOut 1s ease-in-out; /* Adjust the animation duration and timing function as needed */
}
